/*
PALE GOLD = #C0B283
SILK = #DCD0C0
PAPER = #F4F4F4
CHARCOAL = #373737
*/

/* Setting DEFAULT */
.logo{
  text-align: center;
}
input{
  margin-left: 10%;
  width: 50%;
}
body{
  background-image: url("../src/resources/wallpaper2.png");
  background-color: #f4f4f4;
}
h1{
  color: #C0B283;
}
b{
  color: #373737;
}
button{
  width: 110px;
}

/* Setting HEADER */
.active {
  background-color: #4CAF50;
}
ul.tabs{
  list-style-type: none;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0;
  overflow: hidden;
}
ul.tabs li{
  float: left;
}
ul.tabs li a{
  display: block;
  color: #C0B283;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  border-bottom: 4px;
  border-color: transparent;
  border-bottom-style: solid;
  transition: 0.25s;
}
ul.tabs li a:hover{
  border-color: #C0B283;
  border-bottom-color: inherit;
}

/*Setting HOME page*/

/* Search Bar */

input.search{
  width: 25%;
  margin: auto;
  margin-left: 25%;
  border-style: inset;
  border-color: rgb(189, 179, 146);
  background-color: #f7f6f5;
  color: #373737;
}

input.search:focus{
  outline-style: inset;
  outline-width: 3px;
  outline-color: #C0B283;
}

input.searchBtn:focus{
  outline-style: solid;
  outline-color: #DCD0B0;
  outline-width: 1px;
}

input.searchBtn{
  color: #373737;
  margin: auto;
  max-width: 150px;
  background: #f4f4f4;
}

div.search form{
  display: inline;
}

.point input{
  color: #373737;
  margin: auto;
  width: 20px;
  max-width: 25px;
  overflow: hidden;
}

/* Charities info */
div.charityInfo{
  border-style: double;
  border-color: #DCD0B0;
  margin: auto;
  width: 80%;
  margin-top: 1%;
  margin-bottom: 1%;
  overflow: auto;
}
div.charityInfo:hover{
  background-color: rgb(240,240,240);
  transition: 0.2s;
}
div.charityInfo div{
  margin-left: 2%;
}
div.charityInfo p.name{
  margin-left: inherit;
  font-size: 25px;
}
div.charityInfo p.field{
  font-size: 20px;
  margin-left: inherit;
}

/* Setting register/login page */
.login{
  border-style: double;
  border-color: #C0B283;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 5%;
}

.login button{
  height: 35px;
  width: 120px;
  margin: auto;
}



/* Setting charity page */
div.charityPage{
  text-align: center;
  margin: 0% 20%;
  padding: 0;
  border-style: double;
  border-color: #C0B283;
}
div.charityPage h2.needs{
  text-align: left;
  padding: inherit;
}
div.charityPage form{
  text-align: left;
  margin: auto;
}
div.charityPage form label{
  max-width: 100px;
  align-items: baseline;
}
div.charityPage form label input{
  max-width: 20px;
  margin-left: 10px;
}
div.charityPage form input[type="number"]{
  border-style: inset;
  border-color: rgb(189, 179, 146);
  background-color: #f7f6f5;
  color: #373737;
  max-width: 150px;
  display: block;
  padding: 0px;
  margin: 10px;
}
div.charityPage form input[type="submit"]{
  color: #373737;
  max-width: 150px;
  background: #f4f4f4;
  display: block;
  padding: 0px;
  margin: 10px;
}
div.charityPage form input[type="submit"]:focus{
  outline-style: solid;
  outline-color: #DCD0B0;
  outline-width: 1px;
}

/* RECEIVED PAGE */
div.item{
  border-style: double;
  border-color: #DCD0B0;
  margin: auto;
  width: 80%;
  margin-top: 1%;
  margin-bottom: 1%;
  overflow: auto;
}


div.item b{
  color: #C0B283;
}

div.item p.titulo b{
  color: #373737;
}

p.anuncio{
  margin: auto;
  width: 80%;
  border-style: outset;
  border-color: #DCD0B0;
  color: #373737;
}
